<header class="intro {{header.small ? 'smaller' : ''}}">
    <div class="overlay"></div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-{{header.small ? '3' : '12'}}">
                    <a ng-attr-href="#{{header.data.link}}">
                        <img class="logo" ng-if="header.small ? header.data.logo.small != null : header.data.logo.big != null" ng-attr-src="{{header.small ? header.data.logo.small : header.data.logo.big}}"
                        />
                        <h2 ng-if="header.small ? header.data.logo.small == null : header.data.logo.big == null">{{header.data.logo.label}}</h2>

                    </a>
                </div>
            </div>
        </div>
    </div>
</header>