<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div>
      <ul class="nav navbar-nav navbar-left">
         <li>
             <ng-include src="data.svg"></ng-include>
             <span>{{data.label}}</span>
         </li>

          <li data-ng-repeat="item in data.items">
              <a href="{{item.link.indexOf('http') > -1 ? item.link : '#' + item.link}}">
                  <ng-include src="item.svg"></ng-include>
                  <span>{{item.label}}</span>
              </a>
          </li>
      </ul>
        <ul class="nav navbar-nav navbar-right social-buttons">
            <li data-ng-repeat="item in data.social">
                <a href="{{item.link.indexOf('http') > -1 ? item.link : '#' + item.link}}" ng-attr-target="{{item.link.indexOf('http') > -1 ? '_blank' : '_self' }}">
                    <img ng-attr-src='{{item.icon}}' />
                </a>
            </li>
        </ul>
    </div>
  </div>
</div>